

.nav {
    padding: 10px 0;
}


.index  .nav .am-flexbox-item {
    text-align: center;
}

.index  .nav .am-flexbox-item img {
    width: 48px;
}

.index  .nav .am-flexbox-item h2 {
    margin-top: 7px;
    font-size: 13px;
    font-weight: normal;
}

