.mapWrapper {
    height: 100%;
    padding-top: 45px;
}

:global(.am-navbar) {
    margin-top: -45px;
}


.name {
    margin-top: 10px
}

.count {
    margin-top: -10px;
}


.traingle{
    width: 0;
    height: 0;
    border-color: #0cb56ae6  transparent  transparent  transparent;
    border-width: 5px;
    border-style: solid;

    position: relative;
    top: 22px;
    right: 45px;

}

.rectName {
    display: inline-block;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.rectCount {
    display: inline-block;
    width: 20px;
}
